$wh40k-font-family: warhammer40k;

$wh40k-HQ: \ea01;
$wh40k-adeptus-arbites: \ea02;
$wh40k-adeptus-astartes: \ea03;
$wh40k-adeptus-astronomica: \ea04;
$wh40k-adeptus-custodes: \ea05;
$wh40k-adeptus-mechanicus: \ea06;
$wh40k-adeptus-ministorum: \ea07;
$wh40k-adeptus-terra: \ea08;
$wh40k-administratum: \ea09;
$wh40k-alpha-legion: \ea0a;
$wh40k-angels-of-redemption: \ea0b;
$wh40k-angels-of-retributio: \ea0c;
$wh40k-angels-of-vengance: \ea0d;
$wh40k-angels-of-vigilance: \ea0e;
$wh40k-apothecarium-01: \ea0f;
$wh40k-apothecarium-02: \ea10;
$wh40k-assassinorum: \ea11;
$wh40k-astra-militarum: \ea12;
$wh40k-black-legion: \ea13;
$wh40k-blood-angels: \ea14;
$wh40k-bolter-mkv: \ea15;
$wh40k-bolter-mkv-02: \ea16;
$wh40k-borkan: \ea17;
$wh40k-chaos-star-01: \ea18;
$wh40k-consecrators: \ea19;
$wh40k-crux-terminatus-01: \ea1a;
$wh40k-dalyth: \ea1b;
$wh40k-dark-angels: \ea1c;
$wh40k-death-guard: \ea1d;
$wh40k-dedicated-transport: \ea1e;
$wh40k-disciples-of-caliban: \ea1f;
$wh40k-elites: \ea20;
$wh40k-emperors-children: \ea21;
$wh40k-farsight-enclave: \ea22;
$wh40k-fast-attack: \ea23;
$wh40k-flyer: \ea24;
$wh40k-fortification: \ea25;
$wh40k-guardians-of-the-covenant: \ea26;
$wh40k-heavy-support: \ea27;
$wh40k-imperial-aquila: \ea28;
$wh40k-imperial-aquila-02: \ea29;
$wh40k-imperial-fists: \ea2a;
$wh40k-imperial-navy: \ea2b;
$wh40k-inqusition-01: \ea2c;
$wh40k-inqusition-02: \ea2d;
$wh40k-iron-hands: \ea2e;
$wh40k-iron-warrioes: \ea2f;
$wh40k-khorne-symbol-01: \ea30;
$wh40k-knight-lords: \ea31;
$wh40k-librarian-codicier: \ea32;
$wh40k-librarian-epistolary: \ea33;
$wh40k-librarian-lexicanum: \ea34;
$wh40k-librarius-01: \ea35;
$wh40k-librarius-02: \ea36;
$wh40k-lord-of-war: \ea37;
$wh40k-navis-nobilite: \ea38;
$wh40k-nurgle-icon-01: \ea39;
$wh40k-raven-guard: \ea3a;
$wh40k-rogue-trader: \ea3b;
$wh40k-sacea: \ea3c;
$wh40k-salamanders: \ea3d;
$wh40k-sisters-of-battle: \ea3e;
$wh40k-skull-01: \ea3f;
$wh40k-skull-laurals: \ea40;
$wh40k-slaanesh-icon-01: \ea41;
$wh40k-space-wolfs: \ea42;
$wh40k-sword-01: \ea43;
$wh40k-sword-02: \ea44;
$wh40k-sword-03: \ea45;
$wh40k-sword-04: \ea46;
$wh40k-tau: \ea47;
$wh40k-the-fallen: \ea48;
$wh40k-thousand-sons: \ea49;
$wh40k-troops: \ea4a;
$wh40k-tzeentch-icon-01: \ea4b;
$wh40k-ultramarines: \ea4c;
$wh40k-viorla: \ea4d;
$wh40k-white-scars: \ea4e;
$wh40k-word-bearers: \ea4f;
$wh40k-world-eaters: \ea50;
