$wh40k-font-family: warhammer40k;

$wh40k-sword-01: \ea01;
$wh40k-sword-02: \ea02;
$wh40k-sword-03: \ea03;
$wh40k-sword-04: \ea04;
$wh40k-HQ: \ea05;
$wh40k-dedicated-transport: \ea06;
$wh40k-elites: \ea07;
$wh40k-fast-attack: \ea08;
$wh40k-flyer: \ea09;
$wh40k-fortification: \ea0a;
$wh40k-heavy-support: \ea0b;
$wh40k-lord-of-war: \ea0c;
$wh40k-troops: \ea0d;
$wh40k-bloodmaws: \ea0e;
$wh40k-air-caste: \ea0f;
$wh40k-autaal: \ea10;
$wh40k-borkan: \ea11;
$wh40k-dalyth: \ea12;
$wh40k-dyanoi: \ea13;
$wh40k-earth-caste: \ea14;
$wh40k-elsyeir: \ea15;
$wh40k-ethereal-caste: \ea16;
$wh40k-falshia: \ea17;
$wh40k-farsight-enclave: \ea18;
$wh40k-fesaan-sept: \ea19;
$wh40k-fire-caste: \ea1a;
$wh40k-firios: \ea1b;
$wh40k-kelshan: \ea1c;
$wh40k-kortal-sept: \ea1d;
$wh40k-ksimyen: \ea1e;
$wh40k-mugulath-bay: \ea1f;
$wh40k-ndras: \ea20;
$wh40k-sacea: \ea21;
$wh40k-tashvar: \ea22;
$wh40k-tau: \ea23;
$wh40k-taun: \ea24;
$wh40k-tolku: \ea25;
$wh40k-vashya: \ea26;
$wh40k-viorla: \ea27;
$wh40k-water-caste: \ea28;
$wh40k-yovai-sept: \ea29;
$wh40k-adeptus-arbites: \ea2a;
$wh40k-adeptus-astartes: \ea2b;
$wh40k-adeptus-astronomica: \ea2c;
$wh40k-adeptus-custodes: \ea2d;
$wh40k-adeptus-mechanicus: \ea2e;
$wh40k-adeptus-ministorum: \ea2f;
$wh40k-adeptus-terra: \ea30;
$wh40k-administratum: \ea31;
$wh40k-alpha-legion: \ea32;
$wh40k-angels-of-redemption: \ea33;
$wh40k-angels-of-retributio: \ea34;
$wh40k-angels-of-vengance: \ea35;
$wh40k-angels-of-vigilance: \ea36;
$wh40k-apothecarium-01: \ea37;
$wh40k-apothecarium-02: \ea38;
$wh40k-assassinorum: \ea39;
$wh40k-astra-militarum: \ea3a;
$wh40k-black-legion: \ea3b;
$wh40k-blood-angels: \ea3c;
$wh40k-bolter-mkv: \ea3d;
$wh40k-bolter-mkv-02: \ea3e;
$wh40k-chaos-star-01: \ea3f;
$wh40k-consecrators: \ea40;
$wh40k-crux-terminatus-01: \ea41;
$wh40k-dark-angels: \ea42;
$wh40k-death-guard: \ea43;
$wh40k-disciples-of-caliban: \ea44;
$wh40k-emperors-children: \ea45;
$wh40k-guardians-of-the-covenant: \ea46;
$wh40k-imperial-aquila: \ea47;
$wh40k-imperial-aquila-02: \ea48;
$wh40k-imperial-fists: \ea49;
$wh40k-imperial-navy: \ea4a;
$wh40k-inqusition-01: \ea4b;
$wh40k-inqusition-02: \ea4c;
$wh40k-iron-hands: \ea4d;
$wh40k-iron-warrioes: \ea4e;
$wh40k-khorne-symbol-01: \ea4f;
$wh40k-knight-lords: \ea50;
$wh40k-librarian-codicier: \ea51;
$wh40k-librarian-epistolary: \ea52;
$wh40k-librarian-lexicanum: \ea53;
$wh40k-librarius-01: \ea54;
$wh40k-librarius-02: \ea55;
$wh40k-navis-nobilite: \ea56;
$wh40k-nurgle-icon-01: \ea57;
$wh40k-raven-guard: \ea58;
$wh40k-rogue-trader: \ea59;
$wh40k-salamanders: \ea5a;
$wh40k-sisters-of-battle: \ea5b;
$wh40k-skull-01: \ea5c;
$wh40k-skull-laurals: \ea5d;
$wh40k-slaanesh-icon-01: \ea5e;
$wh40k-space-wolfs: \ea5f;
$wh40k-the-fallen: \ea60;
$wh40k-thousand-sons: \ea61;
$wh40k-tzeentch-icon-01: \ea62;
$wh40k-ultramarines: \ea63;
$wh40k-white-scars: \ea64;
$wh40k-word-bearers: \ea65;
$wh40k-world-eaters: \ea66;
